.collections {
  display: flex;
  flex-direction: column;

  margin: 85px 0 0;
  padding: 0 60px 30px;

  &.overlap {
    position: relative;

    margin-top: -10vh;

    z-index: 1;
  }
}

.collection {
  margin-top: 60px;

  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
}

.collection-title {
  font-size: 20px;
  font-weight: 500;
}

.collection-slider {
  position: relative; /* Keeps arrows positioned relative to this container */
  display: flex;
  align-items: center;

  margin: 15px 0 0;
  padding: 0;

  /* Ensure arrows are not affected by scrolling */
  overflow: hidden;
}

.collection-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;

  /* Enable scrolling */
  overflow-x: auto;
  scroll-behavior: smooth;

  /* Prevent content from wrapping */
  white-space: nowrap;

  /* Prevent shrinking or collapsing */
  flex-shrink: 0;
}

.collection-cards::-webkit-scrollbar {
  height: 8px;
}

.collection-cards::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.collection-cards::-webkit-scrollbar-track {
  background: transparent;
}

.collection-cards .media-card {
  min-width: calc(16.67% - 13px);
  max-width: calc(16.67% - 13px);

  /* Ensure cards are treated as individual items */
  flex-shrink: 0;
}

.collection-arrow {
  position: absolute; /* Keeps arrows fixed within .collection-slider */
  top: 0;
  height: 100%;
  width: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);

  &.right {
    left: auto;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
  }
}
