.collections {
  display: flex;
  flex-direction: column;
  margin: 85px 0 0;
  padding: 0 60px 30px;

  &.overlap {
    position: relative;
    margin-top: -10vh;
    z-index: 1;
  }
}

.collection {
  margin-top: 60px;

  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
}

.collection-title {
  font-size: 20px;
  font-weight: 500;
}

.collection-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px -60px 0;
  padding: 0 60px;
  overflow: hidden;
  scroll-snap-type: x mandatory;  /* Added for smooth snap scroll effect */
}

.collection-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  padding: 0 10px; /* Optional for inner padding */
  transition: transform 300ms ease-in-out;
  scroll-snap-type: x mandatory;  /* Ensure snapping on scroll */
}

.collection-cards::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.collection-cards::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
  border-radius: 4px;
}

.collection-cards::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.collection-cards .media-card {
  min-width: calc(16.67% - 13px);
  max-width: calc(16.67% - 13px);
  scroll-snap-align: start; /* Ensure media cards align with the scroll */
}

.collection-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 45px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  cursor: pointer;
  z-index: 10;  /* Ensure the arrows are on top of the content */
}

.collection-arrow.right {
  left: auto;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
}

@media (max-width: 1200px) {
  .collection-cards .media-card {
    min-width: calc(20% - 13px);
    max-width: calc(20% - 13px);
  }
}

@media (max-width: 1000px) {
  .collections {
    padding: 0 40px 30px;
  }

  .collection-slider {
    margin: 15px -40px 0;
    padding: 0 40px;
  }

  .collection-cards .media-card {
    min-width: calc(25% - 13px);
    max-width: calc(25% - 13px);
  }
}

@media (max-width: 700px) {
  .collections {
    padding: 0 30px 30px;
  }

  .collection-slider {
    margin: 15px -30px 0;
    padding: 0 30px;
  }

  .collection-cards .media-card {
    min-width: calc(33.33% - 13px);
    max-width: calc(33.33% - 13px);
  }
}

@media (max-width: 500px) {
  .collection-cards .media-card {
    min-width: calc(50% - 13px);
    max-width: calc(50% - 13px);
  }
}
